---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
I am a final year Computer Science BEng. student at the University of Edinburgh, seeking to
pursue a Master’s degree in Robotics next year. I have a passion for robotics, computer vision
and applied machine learning. I have experience writing code for an international media
company, a small spectrometer manufacturer, for an autonomous driving club, at hackathons
and throughout my degree. I am currently researching differentiable policy gradient methods for
improved robot learning, as well as taking advanced modules on robotics, computer vision and
machine learning systems.  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BEng Computer Science @ The University of Edinburgh"
      subtitle="Edinburgh, UK (Sep. 2021 - Jun. 2025)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineering Intern @ Roku"
      subtitle="May 2024 to Aug. 2024 at Roku, Cambridge, UK"
    >
     ◦ Developed a testing framework in Python running on a Raspberry Pi, to simulate realistic
network conditions allowing for accurate testing of real-world performance of devices
◦ Defined an interface for building complex test patterns succinctly for network settings like
bandwidth limit, packet loss, and latency, implemented with the Linux packet manager ’tc’
◦ Made extensive use of NGINX and Flask servers for media storage and communication and
deployed the setup using Docker; now actively in use in Roku’s Cambridge and San Jose OS
teams
◦ Tested and extended a media player API in C++ to support calls from apps like Netflix and
YouTube
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineering Intern @ EloDiz Ltd"
      subtitle="Jun. 2023 to Aug. 2023 at EloDiz Ltd, High Wycombe, UK"
    >
      ◦ Controlled a Maiman laser board over a USB-UART connection using a custom made GUI,
enabling real-time adjustments of current, temperature and frequency
◦ Implemented MVC design principles and multi-threading to improve performance and
responsiveness
◦ Used Python packages (NumPy, Pandas) to clean and analyse spectrometer data
◦ Controlled a Nidec motor, via PWM signals defined using C++, running on an Arduino for a
paper mill project
    </TimeLineElement>
  </div>

  <!-- Assuming there are no certifications to list -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>SQL</li>
    <li>C++</li>
    <li>C</li>
    <li>Java</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Docker</li>
    <li>Linux</li>
    <li>Flask</li>
    <li>JIRA</li>
    <li>AWS</li>
    <li>REST-APIs</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>SciPy</li>
    <li>Seaborn</li>
    <li>MuJoCo</li>
    <li>JAX</li>
    <li>OpenCV</li>
  </ul>
</BaseLayout>