---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Hashim Al-Obaidi</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
      I am a final year Computer Science BEng. student at the University of Edinburgh. I have a passion for robotics, computer vision
      and applied machine learning. I have experience writing code for an international media
      company, a small spectrometer manufacturer, for an autonomous driving club, at hackathons
      and throughout my degree. I am currently researching differentiable policy gradient methods for
      improved robot learning, as well as taking advanced modules on robotics, computer vision and
      machine learning systems.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://linkedin.com/in/hashimalobaidi" target="_blank"> Let's connect!</a>
      <a href="https://drive.google.com/file/d/1IRR9Ag_6BZdJJz82iJliBkyLMhHvSXE2/view?usp=sharing" target="_blank" class="btn btn-outline ml-5">
        Download My CV
      </a>
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Highlights {"</>"}</div>
  </div>

  <HorizontalCard
    title="RL Differentiable Simulation"
    img="/portfolio/MJX.webp"
    desc="Working on benchmarking the sample-efficiency and wall-clock performance of learning RL policies for robotics tasks with and without gradient information. Successfully trained both model-based and model-free RL policies for simple examples using MuJoCo with JAX. Exploring alternative differentiable simulators, like Brax, and Nvidia Warp due to errors in MuJoCo for calculating derivatives with contact forces"
    url="https://github.com/githubhash01/Honours-Project"
    badge="WORK IN PROGRESS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Humanoid Robotic Manipulation"
    img="/portfolio/Kawada.webp"
    desc="Project investigates how a dual-arm robot can solve a pick and place task using a combination of inverse geometry and motion planning, with a modified RRT algorithm, trajectory generation, and optimisation using Bezier curves."
    url="https://github.com/githubhash01/AR0"
    badge="NEW"
  />


  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  -->
</BaseLayout>
